<p id="notice"><%= notice %></p>

<p>
  <b>Createrid:</b>
  <%= @team.createrID %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Type:</b>
  <%= @team.type %>
</p>

<p>
  <b>Description:</b>
  <%= @team.description %>
</p>

<p>
  <b>Location:</b>
  <%= @team.location %>
</p>

<p>
  <b>Logo:</b>
  <%= @team.logo %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
