<p id="notice"><%= notice %></p>

<p>
  <b>Teamid:</b>
  <%= @team_member.teamID %>
</p>

<p>
  <b>Userid:</b>
  <%= @team_member.userID %>
</p>

<p>
  <b>Role:</b>
  <%= @team_member.role %>
</p>


<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
