<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
   <!-- <strong><%= @user.email %><br /></strong> -->
  </div>  
  <div style="margin: 20px">
  <!-- <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :verifed %><br />
    <%= f.check_box :verifed %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.check_box :parent %>
  </div>
  <div class="field">
    <%= f.label :facebookCredentials %><br />
    <%= f.text_field :facebookCredentials %>
  </div>
  <div class="field">
    <%= f.label :twitterCredentials %><br />
    <%= f.text_field :twitterCredentials %>
  </div> -->
  <div class="field">
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :dateOfBirth %><br />
    <%= f.date_select :dateOfBirth %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :hobbies %><br />
    <%= f.text_field :hobbies %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <!-- <div class="field">
    <%= f.label :lastAccessDateTime %><br />
    <%= f.datetime_select :lastAccessDateTime %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
    <input type="reset">
  </div>
</div>
<% end %>
