<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @contact.userID %>
</p>

<p>
  <b>Usercontactid:</b>
  <%= @contact.eMail %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
